
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}
main{
    max-width: 1450px;
    margin: 0 auto;
}
.primary{
    color: #FF5400;

}
.secondary-color{
    color: #5A5A5D;   
}
/* -----nav styles ------ */
header{
    max-width: 1450px;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    flex-wrap: wrap;
}
.nav-items{
    display: flex;
    gap: 44px;
    font-size: 18px;
    font-weight: 700;
    flex-wrap: wrap;
}
.nav-items li{
    list-style: none;
}
.nav-items li a {
    text-decoration: none;
    color: black;
}
.nav-title{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
.nav-title img{
    width: 48px;
    height: 50px;
}
.nav-title h1{
    font-size: 36px;
    font-weight: 800;
}

/* -------- banner styles--------  */

.banner{
    height: 70vh;
    background-image: linear-gradient( to top,  rgba(0, 0, 0, 0.507) , rgba(0, 0, 0, 0.562)) ,url(../Images/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.banner-items > h1{
    font-size: 54px;
}
.banner-items > p{
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner-select{
    display: flex;
    gap: 20px;
    background-color: rgba(240, 235, 225, 0.253);
    height: 5.5rem;
    width: 700px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.banner-select > div > input[type="text"]{
    width: 140px;
    height: 40px;
    padding: 20px 15px;
    border-radius: 8px;
    border: 0;
}

.banner-select > div > select {
    width: 140px;
    height: 40px;
    padding: 8px 10px;
    border-radius: 8px;
    border: 0;
    color: gray;
}

.banner-select > div > button{
    width: 140px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    background-color: #FF5400;
    color: white;
}

/* popular section  */

.popular{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.popular-items{
    width: 50%;
}
.popular-items > h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.popular-items > p{
    margin-top: 24px;
    margin-bottom: 24px;
}
.popular-items > ul{
    margin-left: 18px;
    margin-bottom: 20px;
    font-weight: 400;
}
.popular-items > button{
    margin-top: 30px;
    padding: 15px 35px;
    background-color: #FF5400;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 800;
    font-size: 20px;
}
.popular-img > img{
    width: 100%;
}

/* destination styles  */

.destination{
    margin-top: 100px;
}
.destination-intro{
    text-align: center;
}
.destination-intro > h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.destination-items{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 14px;
   
}

.first-row , .second-row , .third-row{
    display: flex;
    gap: 14px;
}

.first-row > .one , .first-row  > .two{
    width: 50%;

}
.first-row> .one > img , .first-row> .two > img{
    width: 100%;
}
.second-row{
    height: 300px;
}
.second-row > .three , .second-row  > .four , .second-row > .five{
    width: 100%;

}
.second-row> .three > img , .second-row> .four > img , .second-row > .five > img{
    width: 100%;
    height: 100%;

}
.third-row {
    width: 100%;
}

.third-row > .six{
    width: 40%;
    
}
.third-row > .seven {
    width: 60%;
}
.third-row> .six > img , .third-row > .seven > img{
    width: 100%;
    height: 100%;
}

 /* ---- choose section styles ----  */

 .choose{
    margin-top: 100px;
    margin-bottom: 100px;
 }
 .choose-intro{
    text-align: center;
    margin-bottom: 48px;
 }

 .choose-intro > h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom:24px;
 }
 .choose-intro > p {
    line-height: 25px;
 }
 .choose-item{
    display: flex;
    gap: 25px;
 }

.choose-item > .items-1{
    background-color: #fffbf7;
    border-radius: 10px;
    padding: 32px;
    border: 1px solid #f1e1d0ea;
}
.items-1 > h2{
    margin-top: 15px;
    margin-bottom: 12px;
    font-weight: 800;
}
.choose-item > .items-2 {
    background-color: #f4fdff;
    border-radius: 10px;
    padding: 32px;
    border: 1px solid #c1e7f0 ;

}
.items-2 > h2{
    margin-top: 15px;
    font-weight: 800;
    margin-bottom: 12px;
}
.choose-items > .items-3{
    background-color: #fef6f6;
    border-radius: 10px;
    padding: 32px;
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    border: 1px solid #e7c9c9;
} 

.items-3 > h2{
    margin-top: 15px;
    margin-bottom: 12px;
    font-weight: 800;

}

/* ----------- deals section ---------------- */

.deals-intro{
    text-align: center;
}
.deals-intro > h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom:24px;
}
.deals-intro > p{
    margin: 0 auto;
    width: 650px;
    line-height: 22px;
}

.discount-item-1 {
    margin-top: 50px;
    background-image: url("../Images/11.png");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 15px;
    
}
.discount-item-2{
    margin-top: 50px;
    background-image: url("../Images/12.png");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    border-radius: 15px;
    
}
.discount-item-3 {
    margin-top: 50px;
    background-image: url("../Images/4.png");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 15px;
    
}
.discount-item-2 > .card {
    margin-left: 70px;
}

    
.card{
    background: rgba(255, 255, 255, 0.80);
    background-blend-mode: overlay;
    background-size: cover;
    background-size: contain;
    max-width: 600px;
    height: 380px;
    border-radius: 15px;
    padding: 50px;
    margin-right: 70px;
}
.card-top-section{
    display: flex;
    gap: 60px;
}
.card-top-section > div > p > i {
    color: #FF5400;
    margin-right: 10px;
}

.card-intro{
    margin-top: 30px;
}

.card-intro > h1{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 800;
}
.card-intro > h2{
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: 800;
}
.card-intro > button {
    background-color: #FF5400;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.discount-zone > .package-btn{
    margin-top: 50px;
    text-align: center;
}
.discount-zone > .package-btn > button{
    background-color: #FF5400;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}





/* Responsive styles  */
@media only screen and (max-width:600px) {
    header{
        padding: 0 20px;
    }
    nav{
        flex-wrap: wrap;
        gap: 30px;
    }
    main{
        padding: 0 20px;
    }
    .nav-items{
        flex-wrap: wrap;
        gap: 30px;
    }
    .banner-items > h1{
        font-size: 34px;
    }
   

    .banner-select{
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 18rem;
        margin:  0 auto;
    }
    .banner-select > div > input[type="text"]{
        width: 200px;
        height: 40px;
        padding: 20px 15px;
        border-radius: 8px;
        border: 0;
    }
    .banner-select > div > select {
        width: 200px;
        height: 40px;
        padding: 8px 10px;
        border-radius: 8px;
        border: 0;
        color: gray;
    }
    .banner-select > div > button{
        width: 200px;
        height: 40px;
        border-radius: 8px;
        border: 0;
        background-color: #FF5400;
        color: white;
    }
    .popular{
        flex-direction: column;
        gap: 40px;
        margin-top: 40px;
    }
    .popular-items{
        width: 100%;
    }

    /* ------ choose section ----- */
    .choose-intro > p{
        width: 400px;
        margin: 0 auto;
    }
    .choose-item{
        flex-direction: column;
    }
    .choose-items > .items-3{
        width: 100%;
    } 

     /* --------- deals and discount section -------- */
     .deals-intro > p{
        width: 400px; ;
        margin:  0 auto;
     }

     .discount-item-1 {
        height: 70vh;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: right;
        align-items: center;
        border-radius: 15px;
        
    }





}