
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}
main{
    max-width: 1450px;
    margin: 0 auto;
}

.primary{
    color: #FF5400;

}
.secondary-color{
    color: #5A5A5D;   
}
/* -----nav styles ------ */
header{
    max-width: 1450px;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    flex-wrap: wrap;
}
.nav-items{
    display: flex;
    gap: 44px;
    font-size: 18px;
    font-weight: 700;
    flex-wrap: wrap;
}
.nav-items li{
    list-style: none;
}
.nav-items li a {
    text-decoration: none;
    color: black;
}
.nav-title{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
.nav-title img{
    width: 48px;
    height: 50px;
}
.nav-title h1{
    font-size: 36px;
    font-weight: 800;
}

/* -------- banner styles--------  */

.banner{
    height: 70vh;
    background-image: linear-gradient( to top,  rgba(0, 0, 0, 0.507) , rgba(0, 0, 0, 0.562)) ,url(../Images/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.banner-items > h1{
    font-size: 54px;
}
.banner-items > p{
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner-select{
    display: flex;
    gap: 20px;
    background-color: rgba(240, 235, 225, 0.253);
    height: 5.5rem;
    width: 700px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.banner-select > div > input[type="text"]{
    width: 140px;
    height: 40px;
    padding: 20px 15px;
    border-radius: 8px;
    border: 0;
}

.banner-select > div > select {
    width: 140px;
    height: 40px;
    padding: 8px 10px;
    border-radius: 8px;
    border: 0;
    color: gray;
}

.banner-select > div > button{
    width: 140px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    background-color: #FF5400;
    color: white;
}

/* popular section  */

.popular{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.popular-items{
    width: 50%;
}
.popular-items > h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.popular-items > p{
    margin-top: 24px;
    margin-bottom: 24px;
}
.popular-items > ul{
    margin-left: 18px;
    margin-bottom: 20px;
    font-weight: 400;
}
.popular-items > button{
    margin-top: 30px;
    padding: 15px 35px;
    background-color: #FF5400;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 800;
    font-size: 20px;
}
.popular-img > img{
    width: 100%;
}

/* destination styles  */

.destination{
    margin-top: 100px;
}
.destination-intro{
    text-align: center;
}
.destination-intro > h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.destination-items{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 14px;
   
}

.first-row , .second-row , .third-row{
    display: flex;
    gap: 14px;
}

.first-row > .one , .first-row  > .two{
    width: 50%;
    height: 335px;

}
.first-row > .one {
    background-image: url("../Images/3.png");
   
}
.first-row > .two {
    background-image: url("../Images/4.png");
    
}
.first-row > .one , .first-row > .two , .second-row> .three  , .second-row> .four, .second-row > .five , .third-row > .six , .third-row > .seven {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: 700;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    background-position:center;
   
}
.second-row , .third-row{
    height: 335px;
}

.second-row > .three , .second-row  > .four , .second-row > .five{
    width: 100%;

}
.second-row> .three {
    background-image: url("../Images/5.png");
    

}
.second-row> .four{
    background-image: url("../Images/6.png");
    

}
.second-row > .five {
    background-image: url("../Images/7.png");
    
}
.third-row{
    width: 100%;
}

.third-row> .six {
    background-image: url("../Images/8.png");
    width: 40%;
}
.third-row > .seven {
    background-image: url("../Images/9.png");
    width: 60%;
}

 /* ---- choose section styles ----  */

 .choose{
    margin-top: 100px;
    margin-bottom: 100px;
 }
 .choose-intro{
    text-align: center;
    margin-bottom: 48px;
 }

 .choose-intro > h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom:24px;
 }
 .choose-intro > p {
    line-height: 25px;
 }
 .choose-item{
    display: flex;
    gap: 25px;
 }

.choose-item > .items-1{
    background-color: #fffbf7;
    border-radius: 10px;
    padding: 32px;
    border: 1px solid #f1e1d0ea;
}
.items-1 > h2{
    margin-top: 15px;
    margin-bottom: 12px;
    font-weight: 800;
}
.choose-item > .items-2 {
    background-color: #f4fdff;
    border-radius: 10px;
    padding: 32px;
    border: 1px solid #c1e7f0 ;

}
.items-2 > h2{
    margin-top: 15px;
    font-weight: 800;
    margin-bottom: 12px;
}
.choose-items > .items-3{
    background-color: #fef6f6;
    border-radius: 10px;
    padding: 32px;
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    border: 1px solid #e7c9c9;
} 

.items-3 > h2{
    margin-top: 15px;
    margin-bottom: 12px;
    font-weight: 800;

}

/* ----------- deals section ---------------- */

.deals-intro{
    text-align: center;
}
.deals-intro > h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom:24px;
}
.deals-intro > p{
    margin: 0 auto;
    /* width: 650px; */
    line-height: 22px;
}

.discount-item-1 {
    margin-top: 50px;
    background-image: url("../Images/11.png");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 15px;
    
}
.discount-item-2{
    margin-top: 50px;
    background-image: url("../Images/12.png");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    border-radius: 15px;
    
}
.discount-item-3 {
    margin-top: 50px;
    background-image: url("../Images/4.png");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 15px;
    
}
.discount-item-2 > .card {
    margin-left: 70px;
}

    
.card{
    background: rgba(255, 255, 255, 0.80);
    background-blend-mode: overlay;
    max-width: 600px;
    height: 380px;
    border-radius: 15px;
    padding: 50px;
    margin-right: 70px;
}
.card-top-section{
    display: flex;
    gap: 40px;
}
.card-top-section > div > p > i {
    color: #FF5400;
    margin-right: 5px;
}

.card-intro{
    margin-top: 30px;
}

.card-intro > h1{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 800;
}
.card-intro > h2{
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: 800;
}
.card-intro > button {
    background-color: #FF5400;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.discount-zone > .package-btn{
    margin-top: 50px;
    text-align: center;
}
.discount-zone > .package-btn > button{
    background-color: #FF5400;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

/* --------------- watch section --------------- */

.watch{
    margin-top: 100px;
    margin-bottom: 100px;
    j
}
.watch-items{
    display: flex;
    gap: 30px;
}
.watch-items > .watch-intro , .watch-items > .watch-video{
    width: 50%;
}
.watch-intro > h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
    line-height: 60px;
}
.watch-intro > p{
    margin-bottom: 20px;
}
.watch-intro > ul{
    margin-left: 16px;
    margin-bottom: 30px;
}
.watch-intro > ul > li{
    margin-top: 20px;
    font-weight: 700;
}
.watch-intro > button {
    padding: 12px 30px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #FF5400;
    border-radius: 10px;
    border: none;
}
.watch-items > .watch-video{
    background-image:linear-gradient( to top,  rgba(0, 0, 0, 0.109) , rgba(68, 67, 67, 0.306)) , url("../Images/9.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
 
    
}
.watch-video > .text-view{
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 100px;
}


.play-btn-one > img{
    filter: brightness(1000%);
    height:30px;
}
.play-btn-one {
    display: flex;
    align-items: center;
    gap: 20px;
}
.play-btn-one > .duration{
    color: white;
    font-size: 25px;
    font-weight: 500;


}
.play-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  width: 90%;
  margin-bottom: 20px;



}
.play-btn-two > img{
    margin-left: 10px;
    height: 30px;
}
.duration-play{
    width: 90%;
    background-color: rgba(162, 158, 158, 0.854);
    height: 5px;
    margin: 0 auto;
}
.play-time{
    background-color: rgb(247, 247, 247);
    height: 5px;
    width: 30%;
    
}

/* -----------------bonus --------------------- */
.bonus > h1{
   text-align: center;
   font-size: 40px;
   font-weight: 800;
   margin: 40px 0;
   background-color: lightslategrey;
   padding: 20px;
   border-radius: 10px;
   color: whitesmoke;
}


.bonus-items{
    display: flex;
    justify-content: space-around;

}
.bonus-items > div{
    width: 300px;
    height: 400px;
    background-color: #c1e7f0;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
}
.bonus-items > div > h3{
    margin: 15px 0;
    color: #5A5A5D;
    font-weight: 800;
}
.bonus-items > div > p{
    margin-bottom: 15px;
    color: #5A5A5D;
}
.bonus-items > div > img{
    width: 100%;
    height: 200px;
    border-radius: 15px;
}
#div1{
    background-color: rgba(255, 182, 193, 0.831);
}
#div2{
    background-color: lightcyan;
}

#div3{
    background-color: rgba(255, 160, 122, 0.698);
}
#div1:hover{
    background-color: lightblue;
    transition: 1s linear;
}
#div2:hover{
    background-color: rgba(250, 128, 114, 0.658);
    transition: 1s linear;
}
#div3:hover{
    background-color: rgba(0, 255, 255, 0.329);
    transition: 1s linear;
}
#div4:hover{
    background-color: rgba(218, 165, 32, 0.553);
    transition: 1s linear;
}




/* -------------------newsletter section ------------------ */


.newsletter{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 60vh;
    gap: 25px;
}
.newsletter-items{
    width: 40%;
    border: 1px solid #FF5400;
    border-radius: 10px;
    padding: 40px;
}
.newsletter-items> h1{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
}
.newsletter-items > hr{
    margin-top: 30px;
    width: 90%;
    background-color: #d9d9d9;
    height: 2px;
    border: none;
}
.newsletter-items > input{
    display: block;
    margin-top: 20px;
    width: 90%;
    border:none ;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.214);
    border-radius: 15px;
}
.newsletter-items > button{
    width: 90%;
    margin-top: 25px;
    border: none;
    background-color: #FF5400;
    border-radius: 15px;
    padding: 20px;
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.showing-scene{
    width: 60%;
    background-image: url("../Images/14.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    background-position: center;
    position: relative;
}
.showing-scene > .save-item{
    background-color: #FF5400;
    width: 300px;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    color: white;
    position: absolute;
    right: 9px;
    bottom: 50px;
    transform: rotate(-23deg);
    
}
.save-item > p{
    font-size: 25px;
}
.save-item > h1{
    font-weight: 800;
    margin-top: 10px;
}

/* ------------------footer ------------------- */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #f3f3f3;
    text-align: center;
}
.footer-items > .footer-head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 25px;
    text-align: center
}
.footer-head > div > h1{
    font-weight: 800;
}
.footer-items > .head-desc{
    margin-top: 25px;
}
.footer-items > p {
    margin-top: 50px;
}

.social-icon >img{
    height: 30px;
    margin: 50px 0;
}



/*----------------------- Responsive styles  --------------------------  */


@media only screen and (max-width:600px) {
    header{
        padding: 0 20px;
    }
    nav{
        flex-wrap: wrap;
        gap: 30px;
    }
    main{
        padding: 0 20px;
    }
    .nav-items{
        flex-wrap: wrap;
        gap: 30px;
    }
    .banner-items > h1{
        font-size: 34px;
    }
   

    .banner-select{
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 18rem;
        margin:  0 auto;
    }
    .banner-select > div > input[type="text"]{
        width: 200px;
        height: 40px;
        padding: 20px 15px;
        border-radius: 8px;
        border: 0;
    }
    .banner-select > div > select {
        width: 200px;
        height: 40px;
        padding: 8px 10px;
        border-radius: 8px;
        border: 0;
        color: gray;
    }
    .banner-select > div > button{
        width: 200px;
        height: 40px;
        border-radius: 8px;
        border: 0;
        background-color: #FF5400;
        color: white;
    }
    .popular{
        flex-direction: column;
        gap: 40px;
        margin-top: 40px;
    }
    .popular-items{
        width: 100%;
    }

    /* ---------- destination -----------  */
    .destination , .choose{
        margin-top: 40px;
        
     }
     .destination-intro > p{
        width: 90%;
        margin: 0 auto;
     }
    .first-row , .second-row , .third-row {
        flex-direction: column;
    }
    .first-row> .one > img , .first-row> .two > img{
        height: 335px;
    }
    .first-row > .one , .first-row  > .two{
        width: 100%;
        height: 335px;
    
    }
    .second-row , .third-row{
        height: 100%;
    }
    .second-row > .three , .second-row > .four , .second-row > .five{
        height: 335px;
    }
    
    .third-row > .six{
        width: 100%;
        height: 335px;
        
    }
    .third-row > .seven {
        width: 100%;
        height: 335px;
    }



    /* ------ choose section ----- */
    .choose {
        margin-bottom: 30px;
    }
    .choose-intro > p{
        width: 80%;
        margin: 0 auto;
    }
    .choose-item{
        flex-direction: column;
    }
    .choose-items > .items-3{
        width: 100%;
    } 

     /* --------- deals and discount section -------- */
     .deals-intro > p{
        width: ; 
        margin:  0 auto;
     }

     .discount-item-1 , .discount-item-2 , .discount-item-3{
        height: 70vh;
        
    
    }
    .discount-item-1 > .card{
        margin-top: 120px;
    }
    
    .discount-item-2 > .card {
        margin: 0 auto;
    }
    .discount-item-3 > .card {
        margin-top: 120px;
       
    }
    
    .card{
        max-width: 400px;
        height: 380px;
        padding: 40px;
        margin: 0 auto;
        
    }
    .card-top-section{
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .hide{
        display: none;
    }
    .card-intro{
        margin-top: 10px;
    }
    
    .discount-zone > .package-btn{
        display: none;
    }

    /* ----------------bonus ------------------ */

    .bonus-items{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .bonus-items > div{
        width: 80%;
        
    }


    /* ----------watch section --------- */
    .watch-items{
        flex-direction: column;
        padding: 10px;
    
    }
    .watch{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .watch-intro > h1 {
        font-size: 30px;
        line-height: 45px;
    }
    .watch-items > .watch-intro , .watch-items > .watch-video{
        width: 100%;
    }
    .watch-video{
        height: 50vh;
    }

    /* -----------newsletter ----------------- */
    .newsletter{
        flex-direction: column;
        height: 100%;
        padding: 10px;
        margin-top: 0;
    }
    .newsletter-items , .showing-scene{
        width: 100%;

    }
   .showing-scene{
         height: 50vh;
   }




   /* --------------footer---------------- */

.footer-items > .footer-head{
    font-size: 25px;
}
.footer-head > div > h1{
    font-weight: 800;
    margin-bottom: 25px;
}
.footer-items > .head-desc{
    margin-top: 25px;
    width: 80%;
    margin: 0 auto;
}


}